@{
    ViewData["Title"] = "Home Page";
}

<style>
    .caption {
        font-size: 75px;
        font-weight: bolder;
        color: antiquewhite;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    .center {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="imageContainer">
    <img src="https://source.unsplash.com/1050x750/?gym,boysgym " alt="">
    <div class="caption center">“The body achieves what the mind believes.”</div>
</div>
