@{
    ViewData["Title"] = "Our Gym";
}
<h1>@ViewData["Title"]</h1>

<style>
    .charitimg {
        margin: 10px 10px 10px 10px;
    }

    .text {
        text-align: center;
        margin: 120px 30px 30px 60px;
        font-size: medium;
        font-family: 'Poppins', sans-serif;
        padding: 14px;
    }

    .text h1 {
        font-style: italic;
        font-weight: 300px;
    }

    .imgtext {
        display: flex;
        background-color: #bbbbbb;
    }
</style>
<div class="imgtext">
    <div class="charitimg">
        <img src="https://source.unsplash.com/500x550/?gym,gym" alt="">
    </div>

    <div class="text">
        <p>
            Charity is not showing off. It means that you should help the people in need from the bottom of your
            heart. If your servant is in serious need of money or any other material goods, help him first; because
            there are many people who will come forward and help a charitable organization but the only source of
            income for your servant is you. Your servant cannot think of any source of income other than you because
            that individual works for you 24*7.
        </p>
        <h1>“No one has ever become poor by giving.”</h1>
    </div>
</div>
