@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .card {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
        padding: 16px;
        text-align: center;
        background-color: #f1f1f1;
    }

    .column {
        float: left;
        width: 25%;
        padding: 0 10px;
    }

    /* Remove extra left and right margins, due to padding */
    .row {
        margin: 0 -5px;
    }

/* Clear floats after the columns */
    .row:after {
        content: "";
        display: table;
        clear: both;
    }
</style>

<h1><centre>Know More!!</centre></h1>
<div class="row">
    <div class="column">
        <div class="card">
            <img src="https://source.unsplash.com/70x70/?gymmachine,men" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Rohan Mishra</b></h4>
                <button>
                    Trainer
                </button>

            </div>
        </div>           
    </div>
    <div class="column">
        <div class="card">
            <img src="https://source.unsplash.com/70x70/?deadlift,indoorbike" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Equipments</b></h4>
                <button>
                    Trainer
                </button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://source.unsplash.com/70x70/?dietgym,healtyfood" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Diet Plan</b></h4>
                <button onclick=>
                    Trainer
                </button>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="https://source.unsplash.com/70x70/?money,form" alt="Avatar" style="width:100%">
            <div class="container">
                <h4><b>Membership</b></h4>
                 <button>
                    Trainer
                </button>
            </div>
        </div>
    </div>
</div>
